<div class="row">
  <div class="col-md-12">

    <figure>

      <figcaption class="mb_20"><%= t(".title", person_name: @person.name) %></figcaption>

      <ul class="color-2 transparent">
        <% @person_gifts.each do |gift| %>
          <%= render "gift", gift: gift %>
        <% end %>
      </ul>

    </figure>

  </div>
</div>
