<!DOCTYPE html>
<html lang="{% i18n_locale %}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% render_partial 'layouts/gobierto_head' %}

    <script src="http://governobert.gencat.cat/web/resources/fwkResponsives/common/js/jquery.min.js" type="text/javascript"></script>

    <!-- Optional stylesheets - Not needed for tests, but appearance is more coherent to reality -->
    <link href="https://web.gencat.cat/web/resources/fwkResponsives/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsives/common/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsives/common/css/leaflet.min.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsives/common/css/master.responsive.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsive/fpca_capcalera/css/capcalera.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsive/fpca_subcapcalera/css/fpca_subcapcalera.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsive/fpca_peu/css/fpca_peu.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsive/fpca_peu_faldoLlista/css/fpca_peu_faldoLlista.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsive/fpca_peu_faldoGiny/css/fpca_peu_faldoGiny.css" rel="stylesheet" type="text/css">
    <link href="https://web.gencat.cat/web/resources/fwkResponsives/common/css/print.css" rel="stylesheet" type="text/css">
    <!-- ./ Optional stylesheets -->
  </head>

  <body class="{% body_css_classes %}" {% yield body_attributes %}>

    <!-- Simulte Gencat header -->
    <div id="impacteContainer">
      <ol class="breadcrumb">
        <li><a href="http://example.com">Inici</a></li>
        <li><a href="http://example.com">Transparència</a></li>
        <li>{{ "gobierto_people.shared.app_title" | t }}</li>
      </ol>

      <h1><span><a href="/">Current Page Title</a></span></h1>
    </div>
    <!-- ./ Simulte Gencat header -->

    <section class="padding-xs padding-sm padding-md colorSectionOdd">
      <article class="container fullcontainer-xs theme-gencat">
        {% render_partial "user/shared/flash_messages" %}
        {{ content_for_layout }}
      </article>
    </section>

    {% render_partial 'layouts/gobierto_footer' %}

  </body>

</html>
