<div class="row">
  <div class="col-md-12">

    <figure>

      <figcaption class="mb_20"><%= t(".title", person_name: @person.name) %></figcaption>

      <ul class="color-3 transparent">
        <% @person_invitations.each do |invitation| %>
          <%= render "invitation", invitation: invitation %>
        <% end %>
      </ul>

    </figure>

  </div>
</div>
