<% content_for :breadcrumb do %>
  <%= render "gobierto_people/people/content_for_person_breadcrumb" %>
<% end %>

<div class="row">
  <div class="col-md-12">

    <figure>

      <figcaption class="mb_20"><%= title t(".title", person_name: @person.name) %></figcaption>

      <ul class="color-3 transparent">

        <% cache "#{cache_key_preffix}-invitations" do %>
          <% @person_invitations.each do |invitation| %>
            <%= render "invitation", invitation: invitation %>
          <% end %>
        <% end %>

      </ul>

    </figure>

  </div>
</div>
