<% content_for :custom_top_content do %>

  <section class="row">
    <div class="col-md-3 pull-right">
      <%= render "gobierto_people/shared/datepicker" %>
    </div>
  </section>

<% end %>

<div class="theme-gencat">
  <%= render "gobierto_people/people/index" %>
</div>
