<% content_for :breadcrumb do %>
  <%= render "gobierto_people/people/content_for_person_breadcrumb" %>
  <li><%= t(".agenda") %></li>
<% end %>

<% title @person.name %>

<div class="row">
  <div class="col-md-12">

    <figure>

      <figcaption class="mb_20"><%= t(".title", person_name: @person.name) %></figcaption>

      <ul class="color-1 transparent">

        <% cache "#{cache_key_preffix}-events" do %>
          <% @events.each do |event| %>
            <%= render "event", event: event %>
          <% end %>
        <% end %>

      </ul>

    </figure>

  </div>
</div>
