<% content_for :breadcrumb do %>
  <%= render "gobierto_people/people/content_for_person_breadcrumb" %>
<% end %>

<div class="row">
  <div class="col-md-12">

    <figure>

      <figcaption class="mb_20"><%= title t(".title", person_name: @person.name) %></figcaption>

      <ul class="color-2 transparent">

        <% cache "#{cache_key_preffix}-trips" do %>
          <% @person_trips.each do |trip| %>
            <%= render "trip", trip: trip %>
          <% end %>
        <% end %>

      </ul>

    </figure>

  </div>
</div>
