<div id="custom-breadcrumb-items" style="display: none">
  <li>
    <%= link_to_unless_current(
          t("gobierto_people.shared.app_breadcrumb_title"),
          gobierto_people_root_path,
          data: { turbolinks: false }
        ) %>
  </li>

  <%= yield :breadcrumb %>
</div>
