<div class="datepicker-container">
  <div>
    <input class="air-datepicker datepicker-here" type="text"
    data-range="true" data-multiple-dates-separator=" · "
    data-language="ca" data-date-format="d M yyyy" data-auto-close="true" />
    <span class="caret"></span>
  </div>
  <ul class="datepicker-defaults">
    <li><a id="1m" href="">Último mes</a></li>
    <li><a id="3m" href="">Últimos 3 meses</a></li>
    <li><a id="1y" href="">Último año</a></li>
    <li><a href="">Tot</a></li>
  </ul>
</div>
