<script type="infowindow/html" id="infowindow_template">
<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>

  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">{{country_name}} | {{count}}</div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
</script>
<script type="infowindow/html" id="infowindow_template_bubble">
<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>

  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">{{city_name}} ({{country_name}}) - {{count}}</div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
</script>

<div class="map-container">
  <% if false %>
    <div class="map-info color-2">
      <div>
        <h1>12</h1>
        <p>desplazamientos</p>
      </div>
      <div>
        <h1>3</h1>
        <p>viajes</p>
      </div>
      <div>
        <h1>234.567</h1>
        <p>kilómetros</p>
      </div>
    </div>
  <% end %>
  <div id="map">
  </div>
</div>
