<div class="map--container">
  <div class="map--infobox is-open top left">
    <div class="map--infobox-close top right js-toggle"><i class="fas fa-arrow-left"></i></div>
    <div class="map--infobox-decorator"><i class="fas fa-globe-europe"></i></div>
    <div class="map--infobox-block">
      <h3 class="map--infobox-title"><%= number_with_delimiter trips_statistics[:total_trips] %></h3>
      <p class="map--infobox-desc"><%= simple_pluralize(trips_statistics[:total_trips], t("gobierto_people.shared.displacement"), t("gobierto_people.shared.displacements")) %></p>
    </div>
    <div class="map--infobox-block">
      <h3 class="map--infobox-title"><%= number_with_delimiter trips_statistics[:total_unique_destinations] %></h3>
      <p class="map--infobox-desc"><%= simple_pluralize(trips_statistics[:total_unique_destinations], t("gobierto_people.shared.destination"), t("gobierto_people.shared.destinations")) %></p>
    </div>
  </div>
  <div class="map--tooltip">
    <i id="tooltip--close" class="far fa-times-circle"></i>
    <div class="map--tooltip-text"></div>
  </div>

  <div class="map--zoom">
    <button class="map--zoom_button" id="zoomIn">
      <i class="fa fa-plus"></i>
    </button>
    <button class="map--zoom_button" id="zoomOut">
      <i class="fa fa-minus"></i>
    </button>
  </div>


  <div id="map"></div>
</div>
