<script type="infowindow/html" id="infowindow_template_choroplethe">
<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>

  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content" data-count="{{count}}" data-country-name="{{country}}">
      <p></p>
      <ul data-person-names>{{person_names}}</ul>
      <ul data-person-slugs>{{person_slugs}}</ul>
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
</script>

<script type="infowindow/html" id="infowindow_template_bubble">
<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>

  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content" data-count="{{count}}" data-country-name="{{country_name}}" data-city-name="{{destination_names}}">
      <p></p>
      <ul data-person-names>{{person_names}}</ul>
      <ul data-person-slugs>{{person_slugs}}</ul>
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
</script>

<div class="map--container">
  <div class="map--infobox is-open top left">
    <div class="map--infobox-close top right js-toggle"><i class="fas fa-times"></i></div>
    <div class="map--infobox-decorator"><i class="fas fa-globe-europe"></i></div>
    <div class="map--infobox-block">
      <h3 class="map--infobox-title"><%= trips_statistics[:total_trips] %></h3>
      <p class="map--infobox-desc"><%= t("gobierto_people.shared.displacements") %></p>
    </div>
    <div class="map--infobox-block">
      <h3 class="map--infobox-title"><%= trips_statistics[:total_unique_destinations] %></h3>
      <p class="map--infobox-desc"><%= t("gobierto_people.shared.destinations") %></p>
    </div>
  </div>

  <div id="map"></div>
</div>
