body {
  line-height: initial;
}

nav {
  background: none;
  border-top: 0;
}

.button, button, input[type=submit] {
  padding: initial;
}

input[type=submit]:hover,
.button:hover,
button:hover {
  background: initial;
}

.column {
   width: inherit;
   max-width: inherit;
   margin: inherit;
 }

 ul {
  padding: inherit;
  margin: inherit;
 }

@media screen and (max-width: 740px) {
  .column, .column.visible-xs:not(.coloca):not(.coloca1) {
    margin: initial;
  }
  /* Hack */
  #topRight .col-md-6.col-sm-4.column {
    margin-top: 1.25em;
  }
}

.button, button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=text], option, select, textarea {
  margin: initial;
  vertical-align: initial;
  height: initial;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

@media screen and (max-width: 740px) {
  .button, button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=text], option, select, textarea {
    margin: initial;
    width: initial;
  }
}

.facebook, .twitter, .linkedin, .email, .whatsapp, .telegram, .code {
  background: initial;
}

.facebook:hover, .twitter:hover, .email:hover, .linkedin:hover {
  background: initial;
}

.breadcrumb a, .breadcrumb span {
  margin: unset;
  font-size: unset;
}

.success, .error, .alert, .notice {
  font-size: 100%;
}

footer {
  border-top: 0;
  border-color: transparent;
  padding: initial;
  margin: initial;
  clear: initial;
}

footer ul li {
  margin: initial;
}
