.theme-gencat {
  @media (max-width: 47.938em) {
    &.no-fullcontainer-xs {
      overflow: visible;
      padding: 0 15px;
    }
  }

  // Hack punchard on mobiles
  @media (max-width: 568px) {
    .punchcard {
      overflow-x: scroll;
    }
  }

  // If $color_people var is not defined, get default one
  $colors: if(variable_exists(color_people), $color_people, $color_main);
  $colors_light: if(variable_exists(color_people_light), $color_people_light, $color_main);
  $colors_lightest: if(variable_exists(color_people_lightest), $color_people_lightest, $color_main);
  // functions
  @function color($i: 1, $set: $colors) {
    @return if($i > length($set), nth($set, 1), nth($set, $i));
  }

  // defaults
  a:not(.no-link) {
    color: $color_link;

    &:hover {
      text-decoration: underline;
    }
  }

  a.no-link {
    color: inherit;

    &:hover {
      text-decoration: none !important;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  figure:only-child {
    margin-bottom: 60px;
  }

  .alert {
    padding: 5px 10px;
  }

  // Hacks gencat-people
  .column {
    margin: inherit;
    max-width: inherit;
    width: inherit;
  }

  // Forces all rowcharts to have the same height
  .same-height-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;

    > * {
      display: flex;
      flex-direction: column;
      > :first-child {
        flex: 1;
      }
    }
  }

  .main_people_content {
    > .column {
      width: auto;

      > .block {
        display: none;
      }
    }

    @media (max-width: 767px) {
      padding: 0;

      .people-grid .person-item {
        margin-right: 0;
      }
    }
  }

  .people-grid .pure-u-md-1-3:nth-child(3n + 3) .person-item {
    margin-right: 0;
  }

  .person-item .person-name {
    padding: 0 !important;
  }

  .pure-g > .pure-u-1.pure-u-md-7-24 ul li {
    margin-bottom: 10px;
  }
  // end hacks gencat-people

  //@component color
  @for $i from 1 through max(length($colors), 3) {
    .color-#{$i} {
      background-color: color($i, $colors_lightest);

      // commons
      &.transparent,
      svg {
        background-color: transparent;
      }

      .color-decorator {
        border-top: 12px solid color($i);
      }

      h1 {
        color: color($i);
      }

      input:focus {
        border-color: color($i);
      }

      button {
        background-color: color($i);
      }

      // rowchart
      .bar {
        fill: color($i);

        &:hover {
          fill: color($i, $colors_light);
        }
      }

      // punchcard
      circle {
        fill: color($i);

        &:hover {
          fill: color($i, $colors_light);
        }
      }

      g.row:nth-of-type(odd) {
        rect:not(.bar) {
          fill: color($i, $colors_lightest);
        }
      }

      // table-list
      .table-item {
        border-top: 3px solid color($i, $colors_lightest);
      }

      // tooltips
      .tooltip-content {
        background: color($i, $colors_light);
        border: 1px solid color($i);

        &.left {
          &::after {
            border-right-color: color($i, $colors_light);
          }

          &::before {
            border-right-color: color($i);
          }
        }

        &.bottom {
          &::after {
            border-top-color: color($i, $colors_light);
          }

          &::before {
            border-top-color: color($i);
          }
        }

        &.right {
          &::after {
            border-left-color: color($i, $colors_light);
          }

          &::before {
            border-left-color: color($i);
          }
        }

        &.top {
          &::after {
            border-bottom-color: color($i, $colors_light);
          }

          &::before {
            border-bottom-color: color($i);
          }
        }
      }
    }

    .toggle-container {
      .color-#{$i} {
        &.active,
        &:hover {
          background-color: color($i);

          h1 {
            color: $color_main_negative;
          }
        }
      }
    }

    .box--result strong {
      color: color($i);
    }
  }

  //@component box
  .box {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    user-select: none;

    .box--content {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;

      > :not(:first-child) {
        margin: 0 25px;
      }
    }

    .box--searchbox {
      display: flex;
      flex: 1;
      height: 58px;
      margin-right: 25px;
      position: relative;

      > input {
        flex: 0 0 70%;
      }

      > button {
        color: $color_main_negative;
        flex: 0 0 30%;
        font-size: 14px;
      }
    }

    .box--results {
      background-color: $color_main_negative;
      border: 1px solid $color_separator;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
      display: none;
      max-height: 50vh;
      overflow-y: auto;
      position: absolute;
      top: calc(100% - 1px);
      width: calc(100% - 1px);
      z-index: -1;

      &.is-active {
        display: block;
      }
    }

    .box--result {
      border: 0;
      cursor: pointer;
      padding: 12px 24px;

      &.is-active,
      &:hover {
        background-color: #f4f4f4;
      }

      strong {
        display: block;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: .25em;
        pointer-events: none;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      span {
        color: inherit;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding: 0;
        pointer-events: none;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .rowchart {
      min-height: auto;

      .y.axis text {
        fill: #242424; // Due to contrast. WCAG AA
      }
    }

    > :first-child {
      padding: 0 20px;
    }

    > :only-child {
      padding: 20px;
    }

    h1 {
      font-size: 60px;
      font-weight: 600;
      line-height: 77px;
      text-align: left;
    }
  }

  //@component square
  .square {
    &--container {
      @include grid(30px, 4);
    }

    &--inner {
      @include aspect-ratio(1, 1);
    }

    &--content {
      border: 1px solid $separator_dark;
      padding: 16px;
    }

    &--content-inner {
      @include absolute-layout;

      height: 100%;
      width: 100%;
    }

    &--title {
      color: $color_link;
      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
      text-align: left;
    }

    &--subtitle {
      color: $color_text;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  //@component datepicker
  .datepicker-container {
    position: relative;

    > :first-child {
      position: relative;
    }

    .air-datepicker {
      border: 1px solid $color_separator;
      border-radius: 0;
      box-shadow: none;
      cursor: pointer;
      font-size: .938em;
      height: 2.667em;
      padding: .4em;
      width: 100%;

      &:focus {
        border: 1px solid $color_separator;
        box-shadow: none;
      }
    }

    .caret {
      display: block !important;
      position: absolute;
      right: calc(10px + 15px); // column padding
      top: 50%;
    }

    .datepicker-defaults {
      background-color: $color_neutral_soft;
      border: 1px solid $color_separator;
      border-top-width: 0;
      margin-top: -1px;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      transition: max-height 0.3s;
      width: 100%;
      z-index: 100;

      li {
        cursor: pointer;

        a {
          color: $text_soft;
          display: block;
          font-size: $f7;
          padding: 5px 10px;
        }

        &:hover {
          background-color: lighten($color_neutral_soft, 10%);
        }
      }
    }

    &.is-shown .datepicker-defaults {
      border-top-width: 1px;
      max-height: 500px;
    }
  }

  // Gencat tuning
  .datepickers-container {
    .datepicker {
      border-radius: 0;
      box-shadow: 0 8px 8px -8px $color_separator;
    }

    .datepicker--pointer {
      display: none;
    }

    .datepicker--nav {
      border-bottom: 0;

      .datepicker--nav-action:hover {
        background: $color_neutral_soft;
      }

      .datepicker--nav-title i {
        color: $color_text;
      }

      .ui-icon-circle-triangle-w,
      .ui-icon-circle-triangle-e {
        height: 100%;
        width: 100%;
      }

      .ui-icon-circle-triangle-w {
        background: url(image_path("NG_ico_mes_consultat.png")) no-repeat 50%;
      }

      .ui-icon-circle-triangle-e {
        background: url(image_path("NG_ico_mes_consultat_tancar.png")) no-repeat 50%;
      }
    }

    .datepicker--content {
      font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
      margin: 0 0 .4em;
      padding: 0;

      .datepicker--body {
        font-size: .9em;
      }

      .datepicker--days-names {
        border-bottom: 1px solid $color_separator;
        border-top: 1px solid $color_separator;
        margin: 0;
      }

      .datepicker--day-name {
        color: $color_text;
        font-size: 13px;
        padding: .7em .3em;
        text-transform: capitalize;
      }

      .datepicker--cell-day {
        font-weight: 600;
        height: auto;
        padding: 4px 1px;

        &.-current- {
          background: $color_link;
          border-radius: 0;
          color: $color_neutral_soft;

          &:hover {
            background: $color_link;
          }
        }

        &.-focus- {
          background: transparent;
          text-decoration: underline;
        }

        &.-selected- {
          background: #bbb;
          color: $color_text;
        }

        &.-range-from-,
        &.-range-to- {
          border-radius: 0;
        }
      }

      .-weekend- + .-weekend- {
        color: $color_link;
      }
    }
  }

  //@component toggle
  .toggle-container {
    &,
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      padding: 20px;
      @include flex-align(stretch);
      @include flexbox(5%);

      &:hover {
        text-decoration: none !important;
      }

      > :first-child {
        display: inline;
        flex-basis: 25%;
        flex-shrink: 0;
        text-align: right;
      }

      > :last-child {
        font-size: $f7;
      }
    }
  }

  //@component table item
  .table-item {
    padding: 5px 0 20px;

    > div:nth-child(3) {
      font-size: $f8;
    }

    > div:nth-child(3),
    > div:nth-child(2) {
      opacity: .5;
    }
  }

  //@component map
  #map {
    height: 500px;
    width: 100%;
  }

  // Carto popup
  .cartodb-popup .cartodb-popup-content-wrapper {
    max-width: 226px;
    width: 226px;
  }

  // hide subcription box (from gobierto)
  .subscribable-box {
    display: none;
  }

  // footer box
  .open-data-footer {
    background-color: $color_neutral_soft;
    margin-top: 100px;
    padding: 34px 44px;
  }

  // Layouts / pages
  section {
    margin-bottom: 40px;

    > &:first-of-type {
      margin-bottom: 60px;
    }

    > &:last-of-type  {
      margin-bottom: 100px;
    }
  }

  section#map-chart {
    .map-container {
      display: flex;

      .map-info {
        flex: 1 1 33%;
        padding: 20px;

        h1 {
          font-size: 60px;
          font-weight: 600;
          text-align: left;
        }
      }
    }
  }

  // helpers
  .opacity-5 {
    opacity: .5;
  }
}
